<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Webgriffe\ConfigOverride\Model\Config\AdditionalInterface" type="Webgriffe\ConfigOverride\Model\Config\AggregateYamlFiles" />
    <virtualType name="systemConfigSourceAggregated">
        <arguments>
            <argument name="sources" xsi:type="array">
                <item name="override" xsi:type="array">
                    <item name="source" xsi:type="object">Webgriffe\ConfigOverride\Source</item>
                    <item name="sortOrder" xsi:type="string">150</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Webgriffe\ConfigOverride\Block\System\Config\Form\Field">
        <arguments>
            <argument name="context" xsi:type="object">Magento\Backend\Block\Template\Context</argument>
            <argument name="defaultYamlFile" xsi:type="object">Webgriffe\ConfigOverride\Model\Config\AdditionalInterface</argument>
            <argument name="data" xsi:type="array" />
        </arguments>
    </type>
    <preference for="\Magento\Config\Block\System\Config\Form\Field" type="\Webgriffe\ConfigOverride\Block\System\Config\Form\Field" />
</config>
